@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spotlight {
  0% { opacity: 0; transform: translate(-72%, -62%) scale(0.5); }
  100% { opacity: 1; transform: translate(-50%, -40%) scale(1); }
}

@keyframes moving-border {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

:root {
  --background: #0c0a09;
  --foreground: #e7e5e4;
}

body {
  color: var(--foreground);
  background: var(--background);
}
